<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- include jQuery, so we have access to the $.post function -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="../static/functions.js"></script>
  <script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>

  <title>Airbnb Pricing</title>
  <link rel='icon' href='https://cdn.shopify.com/s/files/1/2263/3863/t/3/assets/gem20170926170925_reerth-rewards-tier-icons-3.png?3908571769976669947' type='image/png'/ >
</head>

<body>
  <main role="main" class="container">
    <div class="page-bg">
    </div>
    <ul>
      <li><a class="active" href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/predict">Predictor</a></li>
    </ul>
    <form>
      <h3>Get in touch.</h3>
      <table>
        <tr>
          <div class = 'tab_head'>
          <td> <img class='icon' src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ei-sc-github.svg/1024px-Ei-sc-github.svg.png"></td>
          <td><a href="https://github.com/alisonglazer">
             alisonglazer
          </a></td>
          </div>
        </tr>
        <tr>
          <div class = 'tab_head'>
          <td> <img class='icon-gmail' src="https://upload.wikimedia.org/wikipedia/commons/4/45/New_Logo_Gmail.svg"></td>
          <td><a href="mailto:alisonglazer@gmail.com"> alisonglazer@gmail.com
          </a></td>
          </div>
        </tr>


      </table>


    </form>
  </main>

    <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
